.ui-form-simple {
  padding: 0 rem(1);

  .ui-form-items {
    label {
      width: auto;
      text-align: left;
      position: static;
      margin: 0;
      color: darken($white, 50);
    }
  }

  .ui-form-item {
    padding: 0;

    // &:last-child {
    //   margin-bottom: 0;
    // }

    &.required {
      > label {
        &:before {
          float: right;
        }
      }
    }
  }

  .ui-form-input {
  }

  .ui-form-buttons {
    display: none;
  }

  .ui-form-button {
  }

}
