.ui-form-dialog {
  padding: rem(0.5) rem(1) rem(1);

  .ui-form-items {
    label {
      width: auto;
      text-align: left;
      position: static;
      margin: 0;
      color: darken($white, 50);
    }
  }

  .ui-form-item {
    padding: 0;

    &.required {
      > label {
        &:before {
          float: right;
        }
      }
    }
  }

  .ui-form-buttons {
    margin-top: rem(2);
    border-top: 1px solid darken($white, 5);
  }

}
