@import "../var";
.ui-gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #808080;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
.ui-gallery-prev-btn, .ui-gallery-next-btn {
  cursor: pointer;
  position: absolute;
  width: 80px;
  height: 100%;
  top: 0;
}
.ui-gallery-prev-btn {
  left: 0;
}
.ui-gallery-next-btn {
  right: 0;
}
.ui-gallery-image-wrap {
  .ui-gallery-prev-btn {
    width: 50%;
    &:hover {
      background: url($image_url + 'prev.png') no-repeat 10% 50%;
    }
  }
  .ui-gallery-next-btn {
    width: 50%;
    &:hover {
      background: url($image_url + 'next.png') no-repeat 90% 50%;
    }
  }
}
.ui-gallery-thumbs-wrap {
  .ui-gallery-prev-btn {
    background: url($image_url + 'prev.png') no-repeat 50% 50%;
  }
  .ui-gallery-next-btn {
    background: url($image_url + 'next.png') no-repeat 50% 50%;
  }
}
.ui-gallery-content {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  height: 100%;
  background-color: #000;
  border-radius: 5px;
}
.ui-gallery-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #222;
  background-color: rgba(192, 192, 192, 0.2);
  border-radius: 50%;
  text-decoration: none;
  &:hover {
    background-color: #555;
    background-color: rgba(192, 192, 192, 0.5);
  }
}
.ui-gallery-origin {
  position: absolute;
  top: 10px;
  right: 45px;
  z-index: 2;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #222;
  background-color: rgba(192, 192, 192, 0.2);
  border-radius: 50%;
  text-decoration: none;
  &:hover {
    background-color: #555;
    background-color: rgba(192, 192, 192, 0.5);
  }
}
.ui-gallery-image-wrap {
  position: relative;
  z-index: 1;
  padding-top: 10px;
}
.ui-gallery-image {
  // transition: width,margin 1s ease-in-out;
}
.ui-gallery-thumbs-wrap {
  position: relative;
  z-index: 2;
  height: 80px;
}
.ui-gallery-index {
  position: absolute;
  width: 108px;
  text-align: center;
  left: 80px;
  color: #fff;
  line-height: 80px;
}
.ui-gallery-thumbs {
  margin: 0 auto;
  padding: 9px 0;
  width: 630px;
  text-align: center;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  li {
    list-style: none;
    display: inline-block;
    margin: 0 4px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 1px solid #000;
    cursor: pointer;
  }
  .current {
    border-color: #09f;
  }
  img {
    // margin-left: -10px;
    // width: 80px;
    // height: 60px;
  }
}
