.item-infos {
  padding: rem(1);
}

.item-info {
  margin-bottom: rem(1);
  text-align: left;
  position: relative;
  padding-left: rem(12);
  min-height: rem(2);
  label {
    position: absolute;
    font-weight: bold;
    left: rem(2);
    &:after {
      content: ':'
    }
  }
  .plat-name {
    color: red;
  }
  .plat-info {
    strong {
      &:after {
        content: ':'
      }
    }
  }
  .patch-item{
    a{
      color:blue;
      padding-left: rem(1);
    }
  }
  > div{
    padding-left: 5px;
  }
}
