.webuploader-element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.ui-upload {
  position: relative;
  min-height: 32px;

  label {
    margin-left: 0;

    &:after {
      content: none;
    }
  }
}

.ui-upload-pick {
  position: relative;
  @include inline-block();
  cursor: pointer;
  background-color: lighten($light_blue, 10);
  line-height: 32px;
  padding: 0 rem(1);
  color: $white;
  text-align: center;
  overflow: hidden;

  &:hover {
    background-color: $light_blue;
  }
}

.ui-upload-queue {
  position: relative;
  border: 1px solid lighten($black, 66);
  @include clearfix();
  margin-bottom: rem(0.5);
  padding: rem(0.5) 0 0 rem(0.5);

  &:empty {
    display: none;
    margin-bottom: 0;
  }

  .ui-upload-file {
    float: left;
    margin: 0 rem(0.5) rem(0.5) 0;
  }
}

.ui-upload-file {
  border: 1px solid darken($white, 10);
  position: relative;

  &:hover {
    .ui-upload-file-buttons {
      display: block;
    }
  }
}

.ui-upload-file-img {
  position: relative;
  width: 120px;
  height: 120px;
  vertical-align: middle;
}

.ui-upload-file-box {
  position: relative;
  padding-top: 25px;
  width: 120px;
  height: 95px;
  text-align: center;
}

.ui-upload-file-icon {
  margin-bottom: 7px;
  margin-left: 36px;
  width: 48px;
  height: 48px;
}

.ui-upload-file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: rem(2);
}

.ui-upload-file-size {
  line-height: rem(2);
}

.ui-upload-file-buttons {
  position: absolute;
  width: 100%;
  z-index: 1;
  display: none;
}

.ui-upload-file-remove,
.ui-upload-file-download {
  float: right;
  cursor: pointer;
  margin-right: 0.3em;
  &:hover {
    text-decoration: none;
    color: $orange;
  }
  &:before {
    margin-right: 0;
    background-color: #fff;
    @include border-radius(50%);
  }
}

.ui-upload-message {
  float: right;
  margin: 5px 7px 0 0;
  color: $red;
}
