.ui-form.ui-view-dialog {
  padding: rem(0.5) rem(1) rem(1);

  .ui-form-item {
    padding: 0;

    > label {
      width: auto;
      text-align: left;
      position: static;
      margin: 0;
      color: darken($white, 50);
    }

    &.required {
      > label {
        &:before {
          float: right;
        }
      }
    }
  }

  .ui-form-buttons {
    margin-top: rem(2);
    padding: rem(2) 0 0 0;
    text-align: center;
    border-top: 1px solid darken($white, 5);
  }

  .ui-form-button {
    margin: 0 rem(0.5);
  }

}
