#header {
  position: fixed;
  z-index: 2;
  // box-sizing: border-box;
  width: 100%;
  background-color: $dark_blue;

  a, span, em, label {
    color: $white;
    text-decoration: none;
  }

  h1 {
    position: absolute;
    left: 0;
    top: 0;
    width: $sidebar_width;
    background-color: $orange;

    a {
      display: block;
      height: $header_height;
      font-size: rem(1.8);
      font-weight: normal;
      line-height: $header_height;
      padding-left: rem(6.3);
      background: url($image_url + 'logo.png') rem(2.2) 50% no-repeat;
    }
  }

  .wrapper {
    padding-left: $sidebar_width;
    height: $header_height;

    ul {
      float: right;
    }

    li {
      float: left;
      line-height: $header_height;

      a {
        display: block;
      }
    }
  }

  .route-me {
    a {
      display: block;
      padding: 0 rem(3);
      // background-color: fade-out($black, 0.8);

      &:hover {
        background-color: fade-out($black, 0.9);
      }
    }

    &.active {
      a {
        background-color: fade-out($black, 0.9);
      }
    }
  }

  .route-logout {
    a {
      display: block;
      padding: 0 rem(3);
      background-color: fade-out($black, 0.8);

      &:hover {
        background-color: fade-out($black, 0.4);
      }
    }
  }

  .profile {
    padding: rem(1);
    min-width: rem(10);
    color: $white;
    background-color: fade-out($dark_blue, 0.1);
    cursor: default;
  }

  .profile-label {
    color: darken($white, 10);
  }
}
