/* Mixins */

@mixin ellipsis($width) {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: $width;
  overflow: hidden;
  white-space: nowrap;
}

// --------------------------------------

/* Functions */

@function rem($multiple) {
  @return $base_size * $multiple;
}

// --------------------------------------
